header.main-header
  figure.main-header__logo
    //- Logo principal
    img(src="images/logo-platzi-video.png", alt="Logo de Platzi Video")

  menu.main-header__menu
    //- Sección perfil
    .main-header__profile
      img(src="images/icons/user-icon.png", alt="icono usuario")
      p Perfil
    
    //- Navegación drop
    ul.main-header__links
      li: a(href="./").main-header__link Cuenta
      li: a(href="./").main-header__link Cerrar Sesión
