header.main-header
  figure.main-header__logo 
    img(src="images/logo-platzi-video.png", alt="Logo de Platzi Video")

  menu.main-header__menu
    .main-header__profile
      img(src="images/user-icon.png", alt="icono silueta humana")
      p Perfil
    
    ul.main-header__links
      li: a(href="./").main-header__link Cuenta
      li: a(href="./").main-header__link Cerrar Sesión
