mixin carousel-item(imageBg, titulo, subtitulo)
  .carousel__item
        img.carousel__image(src=""+ imageBg, alt="")
        .carousel__details
          .carousel__icons-container
          img.carousel__icon(src="images/icons/play-icon.png", alt="Play")
          img.carousel__icon(src="images/icons/plus-icon.png", alt="Ver más")
        p.carousel__title=titulo
        p.carousel__subtitle=subtitulo