.main-footer {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 150px;
  width: 100%;
  background: $color-secundario;
  
  a {
    padding-left: 50px;
    color: $color-claro;
    text-decoration: none;
    cursor: pointer;

    &:hover{
      text-decoration: underline;
    }
  }
}