.main-header {
  background: $color-verde;
}

.register {
  &__login {
    font-weight: bold;
    text-align: center;
    color: $color-claro;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}