extends components/template.pug

block content
  .main-container
    section.search 
      h2.search__title ¿Qué quieres ver hoy?
      input.search-field(type="text", name="", placeholder="Buscar...")
    
    main.main-content
      include components/carousels.pug