extends components/template.pug

block content
  section.search 
    h2.search__title ¿Qué quieres ver hoy?
    input.search-field(type="text", name="", placeholder="Buscar...")
  
  main.main-content
    include components/carousels.pug