extends components/template.pug

block content
  section.login-container
    section.login 
      h2 Inicia sesíon 
      //- 
      form.login__form
        input.input.input--email(type="email", placeholder="Correo")
        input.input.input--password(type="password", placeholder="Contraseña")
        button.button Iniciar sesión
        
        .login__remember-me
          input(type="checkbox", id="check-remember-me", value="checkbox")
          label(for="check-remember-me") Recuerdame
          a.login__link(href="/") Olvidé mi contraseña
      //- 
      section.login__socials 
        .login__google
          img(src="images/icons/google-icon.webp", alt="Google")
          span Inicia sesión con Google
        .login__twitter
          img(src="images/icons/twitter-icon.webp", alt="Twitter")
          span Inicia sesión con Twitter
      //- 
      p.login__register No tienes ninguna cuenta 
        a(href="/") registrate